{% extends "_base.html" %}
{% load humanize %}

{% block page_title %}Scoreboard - Page {{ page_obj.number }}{% endblock %}

{% block body %}
<div class="page-header">
  <h1>Scoreboard</h1>
</div>

{% if is_paginated %}
<div class="pagination pagination-centered">
  <ul>
    {% if page_obj.has_previous %}
    <li><a href="{% url scoreboard-page page_obj.previous_page_number %}">&larr;</a></li>
    {% else %}
    <li class="disabled"><a href="#">&larr;</a></li>
    {% endif %}

    {% for page in paginator.page_range %}
    {% if page == page_obj.number %}
    <li class="active"><a href="#">{{ page }}</a></li>
    {% else %}
    <li><a href="{% url scoreboard-page page %}">{{ page }}</a></li>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li><a href="{% url scoreboard-page page_obj.next_page_number %}">&rarr;</a></li>
    {% else %}
    <li class="disabled"><a href="#">&rarr;</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}

{% include "_scoreboard.html" with li=page_obj.object_list %}

{% endblock %}
