<table class="table table-striped table-condensed exlist-table">
  <thead>
    <th class="check-col"></th>
    <th class="points-col">Points</th>
    <th class="name-col">Name</th>
    <th class="shortname-col">Short name</th>
    <th class="nsolved-col"># solved</th>
  </thead>
  <tbody>
    {% for ex in ex_list %}
    {% if ex.solved %}
    <tr class="highlight">
    {% else %}
    <tr>
    {% endif %}
      {% if ex.solved %}
      <td><i class="icon-ok"></i></td>
      {% else %}
      <td></td>
      {% endif %}
      <td>{{ ex.points }}</td>
      <td><a href="{{ ex.get_absolute_url }}">{{ ex.name }}</a></td>
      <td>{{ ex.short_name }}</td>
      <td>{{ ex.nsolutions }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5"><span class="muted">No exercise available yet</span></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
