{% extends "_base.html" %}

{% block page_title %}{{ category.name }}{% endblock %}

{% block body %}
<div class="page-header">
  <h1>{{ category.name }}</h1>
</div>

{% include "_exercise_list.html" with ex_list=exercises %}

{% endblock %}
