{% extends "_base.html" %}

{% block page_title %}Exercises{% endblock %}

{% block body %}
<div class="page-header">
  <h1>Exercises</h1>
</div>

{% for cat, exercises in categories %}
<div class="row">
  <div class="span2">
    <h2>{{ cat }}</h2>
  </div>
  <div class="span7">
    {% include "_exercise_list.html" with ex_list=exercises %}
  </div>
</div>
{% endfor %}
{% endblock %}
