{% extends "_base.html" %}
{% load markup %}

{% block page_title %}{{ exercise.name }}{% endblock %}

{% block body %}
<div class="page-header">
  <h1>{{ exercise.name }}</h1>
</div>

{% if user.is_authenticated %}
{% if not solved %}
<form action="" method="post" class="well form-inline">
  {% csrf_token %}
  {{ form }}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% else %}
<div class="alert alert-info">
  You have already solved this exercise.
</div>
{% endif %}
{% else %}
<div class="alert alert-info">
  <a href="{% url login %}">Log in</a> in order to submit a solution for this
  exercise.
</div>
{% endif %}

<p>
  {{ exercise.description|markdown }}
</p>
{% endblock %}
