{% extends "_base.html" %}
{% load bootstrap %}

{% block page_title %}Sign Up{% endblock %}

{% block body %}
<form action="" method="post" class="form-horizontal">
  {% csrf_token %}
  <fieldset>
    <legend>Sign Up</legend>
    {{ form|bootstrap }}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
  </fieldset>
</form>
{% endblock %}
