{% extends "_base.html" %}
{% load bootstrap %}

{% block page_title %}Log In{% endblock %}

{% block body %}
<form action="" method="post" class="form-horizontal">
  {% csrf_token %}
  <input type="hidden" name="next" value="/">
  <fieldset>
    <legend>Log In</legend>
    {{ form|bootstrap }}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Log In</button>
    </div>
  </fieldset>
</form>
{% endblock %}
