{% extends "_base.html" %}
{% load humanize %}

{% block page_title %}{{ u.username }}'s Profile{% endblock %}

{% block body %}
<div class="page-header">
  <h1>About {{ u.username }}</h1>
</div>

<ul>
  <li>Currently <strong>{{ u.profile.rank|ordinal }}</strong> in the scoreboard
      with <strong>{{ u.profile.score }}</strong> points.</li>
  {% if u.profile.team_name %}
  <li>Part of team <strong>{{ u.profile.team_name }}</strong></li>
  {% else %}
  <li>Not part of any team</li>
  {% endif %}
  <li>Signed up {{ u.date_joined|timesince }} ago</li>
</ul>

<div class="page-header">
  <h1>Solved exercises</h1>
</div>
{% for cat, sols in solved %}
<div class="row">
  <div class="span2">
    <h2>{{ cat }}</h2>
  </div>
  <div class="span7">
    <table class="table table-striped table-condensed profile-exlist-table">
      <thead>
        <tr>
          <th class="points-col">Points</th>
          <th class="name-col">Name</th>
          <th class="shortname-col">Short name</th>
          <th class="date-col">Solved on</th>
        </tr>
      </thead>
      <tbody>
        {% for sol in sols %}
        <tr>
          <td>{{ sol.exercise.points }}</td>
          <td><a href="{{ sol.exercise.get_absolute_url }}">{{ sol.exercise.name }}</a></td>
          <td>{{ sol.exercise.short_name }}</td>
          <td>{{ sol.submitted_at|date:"SHORT_DATE_FORMAT" }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4"><span class="muted">No exercise solved yet</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endfor %}

{% endblock %}
