<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{% block page_title_full %}LSE CTF: {% block page_title %}Unknown Page{% endblock %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom.css">

    {% block extra_head %}{% endblock %}
  </head>

  <body>
    {% block topbar_full %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url home %}">LSE CTF</a>
          <div class="nav-collapse">
            {% include "_nav.html" %}
          </div>
        </div>
      </div>
    </div>
    {% endblock %}

    {% block body_full %}
    <div class="container">
      <div class="row">
        <div class="span9">
          {% include "_messages.html" %}
          {% block body %}
          {% endblock %}
        </div>
        <div class="span3">
          <div class="well">
            <h2>Current top 10</h2>
            {% include "_scoreboard.html" with li=top_scoreboard %}
            <a href="{% url scoreboard %}">Full scoreboard</a>
          </div>

          {% if user.is_authenticated %}
          <div class="well">
            <h2>Players around you</h2>
            {% include "_scoreboard.html" with li=user_scoreboard %}
          </div>
          {% endif %}
        </div>
      </div>
      {% block footer_full %}
      <footer>
        {% block footer %}
        <p>
          &copy; LSE 2012 &mdash;
          <a href="http://www.lse.epita.fr/">Main website</a> &mdash;
          <a href="http://git.lse.epita.fr/?p=lsectf-frontend.git;a=summary">LSE CTF source code</a>
        </p>
        {% endblock %}
      </footer>
      {% endblock %}
    </div>
    {% endblock %}

    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
  </body>
</html>
