{% load humanize %}

<ul class="nav">
  <li><a href="{% url all-exercises %}">Exercises</a></li>
  <li><a href="{% url scoreboard %}">Scoreboard</a></li>
</ul>

<ul class="nav pull-right">
  {% if user.is_authenticated %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user }} <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="{% url profile user.username %}">Account</a></li>
      {% if user.is_staff %}
      <li><a href="/admin/">Admin</a></li>
      {% endif %}
      <li class="divider"></li>
      <li><a href="{% url logout %}">Logout</a></li>
    </ul>
  </li>
  <li><p>{{ user.profile.rank|ordinal }} with {{ user.profile.score }} points</p></li>
  {% else %}
  <li><a href="{% url login %}">Log In</a></li>
  <li><p>or</p></li>
  <li><a href="{% url signup %}">Sign Up</a></li>
  {% endif %}
</ul>
