{% load humanize %}

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    {% for profile in li %}
    {% if profile.user == user %}
    <tr class="highlight">
    {% else %}
    <tr>
    {% endif %}
      <td>{{ profile.rank|ordinal }}</td>
      <td><a href="{{ profile.get_absolute_url }}">{{ profile.user.username }}</a></td>
      <td>{{ profile.score }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
