body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.container > footer p {
  text-align: center;
}

.profile-exlist-table .points-col { width: 15%; }
.profile-exlist-table .name-col { width: 55%; }
.profile-exlist-table .shortname-col { width: 15%; }
.profile-exlist-table .date-col { width: 15%; }

.exlist-table .check-col { width: 5%; }
.exlist-table .points-col { width: 10%; }
.exlist-table .name-col { width: 60%; }
.exlist-table .shortname-col { width: 15%; }
.exlist-table .nsolved-col { width: 10%; }

.small-exlist-table .points-col { width: 15%; }
.small-exlist-table .name-col { width: 60%; }
.small-exlist-table .shortname-col { width: 25%; }

.solved-table .player-col { width: 30%; }
.solved-table .name-col { width: 60%; }
.solved-table .points-col { width: 10%; }

tr.highlight, tr.highlight td{
  background-color: #dff0d8 !important;
}

.navbar .nav > li > p {
  float: none;
  padding: 10px 0px 0px;
  margin: 0;
  line-height: 19px;
  color: #BBBBBB;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

@media (max-width: 979px) {
  .navbar .nav > li > p {
    display: none;
  }

  body {
    padding-top: 0;
  }
}

form.form-inline > label {
  margin-right: 10px;
}

form.form-inline > button {
  margin-left: 5px;
}

.hero-unit h1 {
  font-size: 50px;
}

.navbar .brand {
  margin-left: 0;
  padding-left: 40px;
  background: url("../img/logo.png") no-repeat left center;
}
