{% extends "_base.html" %}

{% block page_title %}Home{% endblock %}

{% block body %}
<div class="hero-unit">
  <h1>Are you up to the challenge?</h1>
  <p>
    Solve exercises. Earn points. Get to the top.
  </p>
</div>

<div class="row">
  <div class="span4">
    <h3>Last exercises added</h3>
    <table class="table table-striped table-condensed small-exlist-table">
      <thead>
        <th class="points-col">Points</th>
        <th class="name-col">Name</th>
        <th class="shortname-col">Category</th>
      </thead>
      <tbody>
        {% for ex in last_added %}
        <tr>
          <td>{{ ex.points }}</td>
          <td><a href="{{ ex.get_absolute_url }}">{{ ex.name }}</a></td>
          <td>{{ ex.category }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="3"><span class="muted">No exercise available yet</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="span1">
  </div>
  <div class="span4">
    <h3>Last exercises solved</h3>
    <table class="table table-striped table-condensed solved-table">
      <thead>
        <th class="player-col">Player</th>
        <th class="name-col">Name</th>
        <th class="points-col">Points</th>
      </thead>
      <tbody>
        {% for sol in last_solved %}
        <tr>
          <td><a href="{{ sol.user.profile.get_absolute_url }}">{{ sol.user.username }}</a></td>
          <td><a href="{{ sol.exercise.get_absolute_url }}">{{ sol.exercise.name }}</a></td>
          <td>{{ sol.exercise.points }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="3"><span class="muted">No exercise available yet</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
